# Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Flask / Database
instance/
database/
*.db

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Uploads and temporary files
uploads/
processed/
plots/
reports_out/
temp_*/
